.ad{
   background-color: rgb(190, 195, 200);
}
.tieude{
    background-color: #1e90ff;
}
.id2{
    background-color: aliceblue;
}
.id1{
    background-color:rgb(237, 225, 212) ;
}
.id3{
    background-color:rgb(237, 225, 212) ;
}
