.cn{
    background: rgb(149, 198, 241);
    width: 200px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(153, 205, 90) ;
    position: relative;
    left: 50px;
    margin: 50px ;
    
}
.GB{
    background-color: rgb(220, 130, 70);
    padding: 8px;
    position: relative;
    color: rgb(249, 221, 112);
    border-radius: 10px 10px 0 0;
}
.chitiet{
    border-bottom: 1px solid #ddd;
    padding: 5px ;
    width: 80%; 
    margin: auto; 
}
.GB, .chitiet {
    text-align: center; 
    
}
.mau{
    color: blueviolet;
}
.dk{
    background-color: rgb(195, 128, 74);
    color: azure;
  border: none;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 35px;
  margin-top: 10px;
  
}
.ct {
    background-color: rgb(236, 240, 244);
    color: rgb(221, 112, 34);
    
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 35px;
    bottom: 30px; 
}
.hot{
    position: absolute;
    width: 40px;
    height: 50px;
    transform: translate(180px, -260px); 
    
}