*{
    box-sizing:border-box ;
}
.dau{
    width: 100%;
    height: 60px;
    background-color: rgb(193, 28, 28);
}
header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.hai {
   
    width: 25% ;
    height: 20px;
    background-color: rgb(0, 225, 255);
    
}
.ba{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.o2{
    width: 50% ;
    height: 20px;
    background-color: rgb(0, 255, 47);
}
footer{
    width: 100%;
    height: 60px;
    background-color: rgb(193, 171, 28);
    margin-top:10px ;
}
@media screen and (max-width:768px) {
    .dau{
        height: 40px;
    }
    header{
        flex-wrap: wrap;
    }
    .hai{
        width:calc( 50% - 10px ) ;
    }
    .ba{
        flex-direction: column;
    }
    .o2{
        width:calc( 100% - 10px ) ;
    }
}
@media screen and (max-width:480px) {
    .dau{
        height: 20px;
    }
    header{
        flex-direction: column;
    }
    .hai{
        width:calc( 100% - 10px ) ;
    }
    .ba{
        flex-direction: column;
    }
    .o2{
        width:calc( 100% - 10px ) ;
    }
}


