.bang{
   background-color: bisque;
   border-right: 2px solid chartreuse  ;
   border-top: 2px solid cornflowerblue;
   position: relative;
   height: 300px;
   width: 400px;
   table-layout: fixed;
}
tr td:nth-of-type(1){
    position: relative;
    border-right: 2px solid cornflowerblue;
    word-wrap: break-word; /* Cho phep xuong dong */ 
}
img{
    width: 100px;  
    height: 100px; 
}
td{
    white-space: pre-wrap;
    max-width: 200px;
    word-wrap: break-word; /* Cho phep xuong dong */ 
    text-align: center; /* Can giua theo chieu ngang */
    vertical-align: middle; /* Can giua theo chieu doc */
}

