body {
    background-color: #d9dcdf;
}
.container{
    background-color:#ffffff ;
    width: 200px;
    height: 250px;
}
.email{
    margin-top: 5px;
}
.matkhau{
    margin-top: 5px;
}
.button{
    background-color: rgb(0, 162, 255);
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 5px;
}
.temk{
    padding: 5px;
}
h2{
    padding: 10px;
    margin-left: 50px;
    
}