table {
    margin-bottom: 20px;
}

img {
    width: 24px;
    height: 24px;

}
.gio {
    width: 200px;
    height: 200px;
}
.mus{
    color: #41455e;
}
.quy{
    color: #525252;
    font-size: 10px;
}