body{
    background: linear-gradient(to right, #4b4366, #302b63);
    position: relative;
}
label{
    color: aliceblue;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background: rgba(255, 255, 255, 0.1);
    background: none;
}
/* section{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
input ,textarea{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: transparent;
    border: 2px solid cornsilk;
}
.email{
    position: absolute;
    display: inline-block;
    left: 200px;
    bottom: 0;
}
.mes{
    position: absolute;
    display: inline-block;
    left: 2px;
    margin-top: 20px;
   
}
button{
    position: absolute;
    top: 200px;
}
